<div class="pokemon-card" *ngIf="pokemon">
  <div class="pokemon-card__image">

    <img [src]="getPokemonImage(pokemon)"
    alt="Pokemon Imagen">
  </div>

  <div class="pokemon-card__number" style="padding: 0 10px;">
    N॰ {{ getPokemonNumber(pokemon) }}
  </div>

  <div class="pokemon-card__name" style="padding: 0 10px;">
    {{ pokemon.name }}
  </div>

  <div class="pokemon-card__types">
    <div class="pokemon-card__types"
      *ngFor="let type of pokemon.types"
      [class]="'pokemon-card__type--' + type.toLowerCase()">
      {{ type }}
    </div>
  </div>
</div>
