.pokemon-card{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 5px 50px;
  width: 215px;
  display: flex;
  flex-direction: column;

}

.imagem{
  background: #f2f2f2;
  }

  .pokemon-card__number{
    padding: 0 10px;
    color: #313131;
    font-size: 145%;
    margin-bottom: 5px;

  }

  .pokemon-card__name{
    color: #313131;
    font-size: 145%;
    margin: 0.5em 0 5px;
    margin-bottom: 5px;

    text-transform: capitalize;

  }



  .pokemon-card__types{
    display: flex;
    margin: 0 10px;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
    background: #9bcc50;
    color: #212121;
    text-transform: capitalize;
  }

  .pokemon-card__types--poison{
    display: flex;
    margin: 0 10px;
    border-radius: 3px;
    line-height: 18px;
    max-width: 110px;
    width: 38.4375%;
    float: left;
    text-transform: none;
    font-size: 11px;
    text-align: center;
    background: #b97fc9;
    color: #FFFFFF;
  }



